{% extends 'admin/base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">Liste des étudiants</h1>

    <table class="min-w-full bg-white shadow-md rounded">
        <thead>
        <tr class="bg-gray-200 text-gray-700">
            <th class="py-2 px-4">ID</th>
            <th class="py-2 px-4">Nom</th>
            <th class="py-2 px-4">Prénom</th>
            <th class="py-2 px-4">Prénom du Parent (responsable)</th>
            <th class="py-2 px-4">Nom du Parent (responsable)</th>


        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr class="border-b hover:bg-gray-100">
                <td class="py-2 px-4">{{ student.id }}</td>
                <td class="py-2 px-4">{{ student.lastName }}</td>
                <td class="py-2 px-4">{{ student.firstName }}</td>
                <td class="py-2 px-4">{{ student.user.firstName }}</td>
                <td class="py-2 px-4">{{ student.user.lastName }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="py-4 text-center">Aucun étudiant trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
