<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include "parts/header.html.twig" %}

{# templates/partials/_flash_messages.html.twig #}
{% for type, messages in app.flashes %}
  {% set color = { 'success':'green', 'error':'red', 'danger':'red', 'warning':'yellow' }[type]|default('blue') %}
  <div class="fixed inset-x-0 top-16 flex flex-col items-center space-y-2 z-50">
    {% for message in messages %}
      <div class="w-1/2 bg-{{ color }}-100 text-{{ color }}-800 border border-{{ color }}-300 rounded-md shadow-md px-4 py-3">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% block body %}
{% endblock %}
{% include 'parts/footer.html.twig' %}
</body>
</html>
